li {
    list-style: none;
  }


.pointi {
  display: none;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: 150%;
  text-align: center;
  border: 4px;
  width: 400px;
  height: 200px;
  background-color: aqua;
  position: relative;
  top: 20px;
  left: 400px;
  padding: 70px;
}


.Q2{
  display: none;
}
.Q3{
  display: none;
}
.Q4{
  display: none;
}
.Q5{
  display: none;
}
.Q6{
  display: none;
}
.Q7{
  display: none;
}
.Q8{
  display: none;
}
.Q9{
  display: none;
}
.Q10{
  display: none;
}

.center{
  font-size: 500%;
  color: whitesmoke;
  align-items: center;
}
.pull-right{
  font-size: 500%;
  color: whitesmoke;
}

p{
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 150%;
  color: wheat;
  
}

h3{
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 400%;
  color: white;

}

h2{
  color: aquamarine;
}
h5{
  font-size: 20px;
}
.j{
  color: rgb(1, 1, 24);
}
/* classes given to the body*/

.bo{
 background-image: url(../images/nice.jpeg)
}
.bo2{
  background: url(../images/js.png);
  background-size: contain;
}
.back2{
  background-color: rgb(17, 16, 16, 0.5)
}