li {
    list-style: none;
  }


.pointi {
  display: none;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: 200%;
  text-align: center;
  border: 2px;
  width: 400px;
  height: 200px;
  background-color: brown;
  position: relative;
  top: 0px;
  left: 400px;
  padding: 70px;
}


.Q2{
  display: none;
}
.Q3{
  display: none;
}
.Q4{
  display: none;
}
.Q5{
  display: none;
}
.Q6{
  display: none;
}
.Q7{
  display: none;
}
.Q8{
  display: none;
}
.Q9{
  display: none;
}
.Q10{
  display: none;
}

.center{
  font-size: 500%;
  color: whitesmoke;
  align-items: center;
}
.pull-right{
  font-size: 500%;
  color: whitesmoke;
}
